<h2 mat-dialog-title>Student Details</h2>
<div class="student-form">

  <form [formGroup]="studentForm">
    <div class="student-form-container">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="First Name" required>
        <mat-error *ngIf="f['firstName'].invalid">Please enter a valid name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"> 
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Last Name" required>
        <mat-error *ngIf="f['contactNumber'].invalid">Please enter a valid contact number</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input formControlName="contactNumber" matInput placeholder="Contact Number" required>
        <mat-error *ngIf="f['contactNumber'].invalid">Please enter a valid Contact Number</mat-error>
      </mat-form-field>
    </div>
    <div class="student-form-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" required>
        <mat-error *ngIf="f['email'].invalid">Please enter a valid Email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Parent Name</mat-label>
        <input formControlName="parentName" matInput placeholder="Parent Name" required>
        <mat-error *ngIf="f['parentName'].invalid">Please enter a valid Parent Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Parent Contact Number</mat-label>
        <input formControlName="parentContactNumber" matInput placeholder="Parent Contact Number" required>
        <mat-error *ngIf="f['parentContactNumber'].invalid">Please enter a valid Parent Contact Number</mat-error>
      </mat-form-field>
    </div>
    <div class="student-form-container">
      <mat-form-field appearance="outline">
        <mat-label>Parent Email</mat-label>
        <input formControlName="parentEmail" matInput placeholder="Parent Email">
        <mat-error *ngIf="f['parentEmail'].invalid">Please enter a valid Email</mat-error>
      </mat-form-field>
    </div>
  </form>

  <button mat-raised-button color="accent" (click)="openDialog()">Add Educational Details</button>

  <div class="container">
    <div style="margin-top: 10px;">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Qualification Column -->
          <ng-container matColumnDef="qualification">
            <th mat-header-cell *matHeaderCellDef> Qualification </th>
            <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
          </ng-container>

          <!-- Institute Name Column -->
          <ng-container matColumnDef="instituteName">
            <th mat-header-cell *matHeaderCellDef> Institute Name </th>
            <td mat-cell *matCellDef="let element"> {{element.instituteName}} </td>
          </ng-container>

          <!-- Started Date Column -->
          <ng-container matColumnDef="startedDate">
            <th mat-header-cell *matHeaderCellDef> Started Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startedDate | date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <!-- Grade Column -->
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> Grade </th>
            <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editEducationalDetail(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEducationalDetail(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>

  <button style="margin: 10px 10px 0 10px; float: right;" (click)="saveStudent()" mat-raised-button color="primary">{{actionButton}}</button>
  <button style="margin-top: 10px; float: right;" (click)="goBack()" mat-raised-button>Back</button>
</div>